@import "../node_modules/bootstrap/scss/bootstrap.scss";

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

:root, [data-bs-theme="light"] {
    --bd-purple: #4c0bce;
    --bd-violet: #712cf9;
    --bd-accent: #ffe484;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bd-accent-rgb: 255, 228, 132;
    --bd-pink-rgb: 214, 51, 132;
    --bd-teal-rgb: 32, 201, 151;
    --bd-violet-bg: var(--bd-violet);
    --bd-toc-color: var(--bd-violet);
    --bd-sidebar-link-bg: rgba(var(--bd-violet-rgb), .1);
    --bd-callout-link: 10, 88, 202;
    --bd-callout-code-color: #ab296a;
    --bd-pre-bg: var(--bs-tertiary-bg);
}

body{
    background: #ffffff;
}

.navbar{
    background-color: #ffffff !important; 
    padding: 10px; 
    border-bottom: 2px solid #000000;
} 

// Barra de busqueda

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  background-color: #dadada;
  padding: 8px;
  border-radius: 20px;
  font-size: 16px; 
  width: 500px;
}

.search-button {
  background-color: #000000; 
  border: 2px solid #ffffff; 
  border-radius: 5px; 
  color: rgb(255, 255, 255); 
  padding: 8px 16px;
  font-size: 16px;
  margin-left: 10px;
}


.search-button:hover {
  background-color: #d3d3d3; 
  border-color: #d3d3d3;
  color: rgb(0, 0, 0); 
}


.header1{
    margin-left: 8rem;
    margin-top: 3rem;
}

.header2{
    margin-left: 8rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.seccion1{
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
}

.c1ak {
    width: 100%; 
    max-width: 85%; 
    margin-left:  8rem  ;
    border: 2px solid #000000;
  }
  
.img-container {
  font-size: 0; 
}

.img-container > div {
  display: inline-block; 
  margin: 5px;
  width: calc(25% - 10px); 
}


.imagenDiv1 {
  display: inline-block; 
  max-width: 400px;
  height: auto; 
  vertical-align: top;
}
.imagenDiv1 img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

.imagenDiv2 {
  display: inline-block; 
  max-width: 400px;
  height: auto; 
}
.imagenDiv2 img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

.imagenDiv3 {
  display: inline-block; 
  max-width: 400px; 
  height: auto; 
  vertical-align: top;
}
.imagenDiv3 img {
  width: 100%; 
  height: auto; 
  object-fit: cover;
}

.imagenDiv4 {
  display: inline-block;
  max-width: 400px; 
  height: auto; 
  vertical-align: top;
}
.imagenDiv4 img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

.imagenDiv5 {
  display: inline-block;
  max-width: 400px;
  height: auto;
}
.imagenDiv5 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.imagenDiv6 {
  display: inline-block;
  max-width: 400px;
  height: auto;
  vertical-align: bottom;
}
.imagenDiv6 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.imagenDiv7 {
  display: inline-block;
  max-width: 400px;
  height: auto;
  vertical-align: top;
}
.imagenDiv7 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.imagenDiv8 {
  display: inline-block;
  max-width: 400px;
  height: auto;
  vertical-align: bottom;
}

.imagenDiv8 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
